<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STARS</title>
    <link href="css/mapboxgl.css" rel="stylesheet">
    <link rel="stylesheet" href="css/elementUI.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/params.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="icon" href="./img/szu_icon.png" type="image/x-icon">

</head>
<body>

<div id="app">
    <div id="map"></div>
    <img src="./img/params/btn-popupOpen.png" alt="switch"
         @click="sideBarSwitch('params','paramSwitch','paramsIn', 'paramsOut', 'paramSwitchIn', 'paramSwitchOut')"
         id="paramSwitch" class="paramsSwitch paramSwitchIn">
    <div class="paramsIn" id="params">
        <div class="params"  v-if="switchStatus === 'DCPGS'" style="height: 400px; ">

            <h3 class="params_header">DCPGS</h3>

            <el-form :label-position="DCPGS.labelPosition" label-width="50px" :model="DCPGS" v-loading="mapLoading">
                <div class="param_adjuster" style="width: 100%;display: inline-block">
                    <span class="item_label">cluster</span>
                    <br>
                    <div class="progress-div">
                        <img src="img/params/pause.png" id="process-pause">
                        <el-slider v-model="DCPGS.clusterNums" :min="0" :max="DCPGS.maxClusterNums"
                        @change="updateClusterNums"></el-slider>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.clusterNums" @change="updateClusterNums();updateProcess();" style="height: 18px;width: 35px;position: absolute;right: 20px;top: 114px">
                </div>
                <br><br>

                <span class="item_label" style="padding-left: 15px">dataset</span>
                <br>
                <div class="left_gap"></div>
                <el-radio v-model="DCPGS.dataset" label="gowalla" @change="loadDSPGS('',-1)">gowalla</el-radio>
                <el-radio v-model="DCPGS.dataset" label="brightkite" style="margin-bottom: 5%" @change="loadDSPGS('',-1)">brightkite</el-radio>
                <br>
                <span class="item_label" style="padding-left: 15px">params</span>
                <br>
                <div class="param_adjuster" style="width: 115px">
                    <span class="item_label">&epsilon;</span>
                    <div class="adjuster" @click="DCPGS.params.epsilon = paramAdjust(DCPGS.params.epsilon,false,1.0,0,0.1,2)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.params.epsilon">
                    <div class="adjuster" @click="DCPGS.params.epsilon = paramAdjust(DCPGS.params.epsilon,true,1.0,0,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <div class="param_adjuster" >
                    <span class="item_label">&nbsp;&nbsp;&nbsp;&ensp;&ensp;&omega;</span>
                    <div class="adjuster" @click="DCPGS.params.omega = paramAdjust(DCPGS.params.omega,false,1.0,0,0.1,2)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.params.omega">
                    <div class="adjuster" @click="DCPGS.params.omega = paramAdjust(DCPGS.params.omega,true,1.0,0,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster" style="width: 115px">
                    <span class="item_label">&tau;</span>
                    <div class="adjuster" @click="DCPGS.params.tau = paramAdjust(DCPGS.params.tau,false,1.0,0,0.1,2)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.params.tau">
                    <div class="adjuster" @click="DCPGS.params.tau = paramAdjust(DCPGS.params.tau,true,1.0,0,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <div class="param_adjuster">
                    <span class="item_label">maxD</span>
                    <div class="adjuster" @click="DCPGS.params.maxD = paramAdjust(DCPGS.params.maxD,false,300,10,10,0)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.params.maxD">
                    <div class="adjuster" @click="DCPGS.params.maxD = paramAdjust(DCPGS.params.maxD,true,300,10,10,0)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="params_confirm">
                    <div class="confirm_button" @click="paramsSwitch('DCPGS_UPDATE')">
                        <span class="confirm_label">confirm</span>
                    </div>
                </div>
            </el-form>
        </div>

        <div
             class="params" v-if="switchStatus === 'KSTC'" style="height: 480px; bottom: -50px">
            <h3 class="params_header">k-stc</h3>
            <el-form :label-position="KSTC.labelPosition" label-width="50px" :model="KSTC">

                <el-form-item label="word">
                    <el-input v-model="KSTC.query.keywords" placeholder="以,分隔"></el-input>
                </el-form-item>

                <div class="param_adjuster" style="width: 180px">
                    <span class="item_label">epsilon</span>
                    <div class="adjuster" @click="KSTC.query.epsilon = paramAdjust(KSTC.query.epsilon,false,1.0,0,0.1,1)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="KSTC.query.epsilon">
                    <div class="adjuster" @click="KSTC.query.epsilon = paramAdjust(KSTC.query.epsilon,true,1.0,0,0.1,1)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster" style="width: 150px">
                    <span class="item_label">k</span>
                    <div class="adjuster" @click="KSTC.query.k = paramAdjust(KSTC.query.k,false,20,1,1,0)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="KSTC.query.k">
                    <div class="adjuster" @click="KSTC.query.k = paramAdjust(KSTC.query.k,true,20,1,1,0)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster" style="width: 180px">
                    <span class="item_label">minPts</span>
                    <div class="adjuster" @click="KSTC.query.minPts = paramAdjust(KSTC.query.minPts,false,20,2,1,0)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="KSTC.query.minPts">
                    <div class="adjuster" @click="KSTC.query.minPts = paramAdjust(KSTC.query.minPts,true,20,2,1,0)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster" style="width: 180px">
                    <span class="item_label">maxDist</span>
                    <div class="adjuster" @click="KSTC.query.maxDist = paramAdjust(KSTC.query.maxDist,false,9999999999,-1,1,0)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="KSTC.query.maxDist">
                    <div class="adjuster" @click="KSTC.query.maxDist = paramAdjust(KSTC.query.maxDist,true,9999999999,-1,1,0)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster" style="width: 150px">
                    <span class="item_label">lon</span>
                    <div class="adjuster" @click="KSTC.query.location.longitude = paramAdjust(KSTC.query.location.longitude,false,180,-180,0.1,2)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="KSTC.query.location.longitude">
                    <div class="adjuster" @click="KSTC.query.location.longitude = paramAdjust(KSTC.query.location.longitude,true,180,-180,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster" style="width: 150px">
                    <span class="item_label">lat</span>
                    <div class="adjuster" @click="KSTC.query.location.latitude = paramAdjust(KSTC.query.location.latitude,false,90,-90,0.1,2)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="KSTC.query.location.latitude">
                    <div class="adjuster" @click="KSTC.query.location.latitude = paramAdjust(KSTC.query.location.latitude,true,90,-90,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <div class="params_confirm">
                    <div class="confirm_button" @click="paramsSwitch('KSTC_UPDATE')">
                        <span class="confirm_label">confirm</span>
                    </div>
                </div>
            </el-form>

        </div>

        <div v-loading.lock="spatial_skylines.loading"
                class="params" v-if="switchStatus === 'spatial_skylines'" style="height: 480px; bottom: -50px">
            <h3 class="params_header">BSTD</h3>
            <el-form :label-position="spatial_skylines.labelPosition" label-width="50px" :model="spatial_skylines">
                <div class="param_adjuster" style="width: 200px">
                    <span class="item_label">longitude</span>
                    <div class="adjuster"
                         @click="spatial_skylines.query.longitude = paramAdjust(spatial_skylines.query.longitude,false,179,-180,0.1,2)"
                         style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="spatial_skylines.query.longitude">
                    <div class="adjuster"
                         @click="spatial_skylines.query.longitude = paramAdjust(spatial_skylines.query.longitude,true,179,-180,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster" style="width: 200px">
                    <span class="item_label">latitude</span>
                    <div class="adjuster"
                         @click="spatial_skylines.query.latitude = paramAdjust(spatial_skylines.query.latitude,false,90,-90,0.1,2)"
                         style="margin-left: 21.43px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="spatial_skylines.query.latitude">
                    <div class="adjuster"
                         @click="spatial_skylines.query.latitude = paramAdjust(spatial_skylines.query.latitude,true,90,-90,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster" style="width: 150px">
                    <span class="item_label">keywords</span>
                    <br><br>
                    <input class="keywords_input" type="text" v-model="spatial_skylines.query.keywords">
                </div>
                <br><br>
                <div class="params_confirm">
                    <div class="confirm_button" @click="paramsSwitch('spatial_skylines_UPDATE')">
                        <span class="confirm_label">confirm</span>
                    </div>
                </div>
            </el-form>
        </div>

        <div class="params" v-if="switchStatus === 'topK'">
        <h3 style="color: rgb(196, 98, 102); margin-left: 20px" >top_k params: </h3>
        <el-form :label-position="topk.labelPosition" label-width=" 100px" :model="topk" >
          <el-form-item label="Longitude" >
            <input v-model="topk.query.longitude_topk" style="width: 120px; height: 20px; border-radius: 8px; margin-right: 30px; margin-left: 10px" ></input>
          </el-form-item>
          <el-form-item label="Latitude">
            <input v-model="topk.query.latitude_topk" style="width: 120px; height: 20px; border-radius: 8px; margin-right: 30px; margin-left: 10px"></input>
          </el-form-item>
          <el-form-item label="Keywords">
            <input v-model="topk.query.keywords_topk" style="width: 120px; height: 20px; border-radius: 8px; margin-right: 30px; margin-left: 10px"></input>
          </el-form-item>
          <el-form-item label="K">
            <input v-model="topk.query.k_topk" style="width: 120px; height: 20px; border-radius: 8px; margin-right: 30px; margin-left: 10px"></input>
          </el-form-item>

          <div class="params_confirm">
            <div class="confirm_button" @click="paramsSwitch('topK_UPDATE')" >
              <span class="confirm_label">confirm</span>
            </div>
          </div>

        </el-form>
      </div>

        <div class="params" v-if="switchStatus === 'topK_yago'">
        <h3 style="color: rgb(196, 98, 102); margin-left: 20px" >top_k params: </h3>
        <el-form :label-position="topk_yago.labelPosition" label-width=" 100px" :model="topk_yago" >
          <el-form-item label="Longitude" >
            <input v-model="topk_yago.query.longitude_yago_topk" style="width: 120px; height: 20px; border-radius: 8px; margin-right: 30px; margin-left: 10px" ></input>
          </el-form-item>
          <el-form-item label="Latitude">
            <input v-model="topk_yago.query.latitude_yago_topk" style="width: 120px; height: 20px; border-radius: 8px; margin-right: 30px; margin-left: 10px"></input>
          </el-form-item>
          <el-form-item label="Keywords">
            <input v-model="topk_yago.query.keywords_yago_topk" style="width: 120px; height: 20px; border-radius: 8px; margin-right: 30px; margin-left: 10px"></input>
          </el-form-item>
          <el-form-item label="K">
            <input v-model="topk_yago.query.k_yago_topk" style="width: 120px; height: 20px; border-radius: 8px; margin-right: 30px; margin-left: 10px"></input>
          </el-form-item>

          <div class="params_confirm">
            <div class="confirm_button" @click="paramsSwitch('topK_yago_UPDATE')" >
              <span class="confirm_label">confirm</span>
            </div>
          </div>

        </el-form>
      </div>
    </div>

    <img src="./img/sidebar/btn-fold.png" alt="switch" @click="sideBarSwitch('sideBar','sideBarSwitch','sideIn','sideOut','switchIn','switchOut', null)" id="sideBarSwitch" class="switchOut" style="cursor: pointer">
    <!-- 侧边导航栏-->
    <el-row class="tac sideOut" id="sideBar" style="overflow:hidden;" >
        <el-col :span="12">
            <!--              <h3 style="text-align: center">Menu</h3>-->

            <el-menu
                    class="el-menu-vertical-demo"
                    default-active="1-1-1"
                    unique-opened
                    v-loading="mapLoading"
            >
                <el-submenu index="1">
                    <template slot="title">
                        <span>Clustering</span>
                    </template>
                    <el-submenu index="1-1">
                        <template slot="title">Geo-social network</template>
                        <el-menu-item index="1-1-1" @click="loadDSPGS('StockholmSweden', 13)" >Stockholm Sweden</el-menu-item>
                        <el-menu-item index="1-1-2" @click="loadDSPGS('MalmoSweden', 13)" >Malmo Sweden</el-menu-item>
                        <el-menu-item index="1-1-3" @click="loadDSPGS('GothenburgSweden', 13)" >Gothenburg Sweden</el-menu-item>
                        <el-menu-item index="1-1-4" @click="loadDSPGS('AustinUS', 13)" >Austin US</el-menu-item>
                        <el-menu-item index="1-1-5" @click="loadDSPGS('LondonUK', 13)" >London UK</el-menu-item>
                        <el-menu-item index="1-1-6" @click="loadDSPGS('NewcastleUponTyneUk', 13.5)" >Newcastle Upon Tyne UK</el-menu-item>
                        <el-menu-item index="1-1-7" @click="loadDSPGS('OsloNorway', 13)" >Oslo Norway</el-menu-item>
                        <el-menu-item index="1-1-8" @click="loadDSPGS('ZurichSwitzerland', 13)" >Zurich Switzerland</el-menu-item>
                    </el-submenu>
                    <el-submenu index="1-2">
                        <template slot="title">Spatial textual clustering</template>
                        <el-menu-item index="1-2-3" @click="loadKStc('')">Simple KSTC</el-menu-item>

                    </el-submenu>
                    <el-submenu index="1-3">
                        <template slot="title">Textually spatial skylines</template>
                        <el-menu-item index="1-3-1"  @click="loadBSTD()">Basic Algorithm for STD</el-menu-item>
                    </el-submenu>

                    <el-submenu index="1-4">
                        <template slot="title">Top-k Relevant Retrieval</template>
                        <el-menu-item index="1-4-1"  @click="loadTopK()">uk</el-menu-item>
                         <el-menu-item index="1-4-2"  @click="loadTopK_yago()">yago</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title">
                        <span slot="title">Visualization</span>
                    </template>
                    <el-submenu index="2-1">
                        <template slot="title">KDV</template>
                        <el-menu-item index="2-1-1" @click="loadKDV">kdv</el-menu-item>
                    </el-submenu>

                    <el-submenu index="2-2">
                        <template slot="title">Temporal KDV</template>
                        <el-menu-item index="2-2-1">2-2-1</el-menu-item>
                    </el-submenu>

                    <el-submenu index="2-3">
                        <template slot="title">Line KDV</template>
                        <el-menu-item index="2-3-1">2-3-1</el-menu-item>
                    </el-submenu>
                </el-submenu>
            </el-menu>
        </el-col>
    </el-row>
    <!--顶部导航栏-->
    <db-header></db-header>
</div>
</body>
<script src="js/kdv/kdvCpp.js"></script>
<script src="js/environment/d3.js"></script>
<script src="js/environment/vue.js"></script>
<script src="js/environment/elementUI.js"></script>
<script src="js/environment/mapboxgl.js"></script>
<script src="js/environment/axios.js"></script>
<script type="module" src="js/app.js"></script>
<script src="js/template/header.js"></script>
</html>
