.params{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 298px;
    height: 357px;
}

#params{
    background-color: rgba(255,255,255,0.0);
    /*z-index: 9999;*/
    position: absolute;
    right: 0;
    bottom: 15%;
    width: 298px;
    height: 357px;
}

.left_gap{
    width: 8px;
    height: 5px;
    display: inline-block;
}

.paramsSwitch{
    cursor: pointer;
    position: absolute;
    right: 298px;
    bottom: 23%;
    z-index: 9999;
}

.paramsIn{
    animation: ani_paramsIn 0.3s forwards;
}

.paramsOut{
    animation: ani_paramsOut 0.3s forwards;
}

.paramSwitchIn{
    animation: ani_paramSwitchIn 0.3s forwards;
}

.paramSwitchOut{
    animation: ani_paramSwitchOut 0.3s forwards;
}

@keyframes ani_paramsIn {
    0% { right: 0;}
    25% {right: -74px}
    50% { right: -149px; }
    75% { right: -224px; }
    100% { right: -298px; }
}

@keyframes ani_paramsOut {
    0% { right: -298px; }
    25% {right: -224px}
    50% { right: -149px; }
    75% { right: -74px; }
    100% { right: 0; }
}

@keyframes ani_paramSwitchIn {
    0% { right: 298px; }
    25% {right: 224px;}
    50% { right: 149px; }
    75% { right: 74px; }
    100% { right: 0; }
}

@keyframes ani_paramSwitchOut {
    0% {right: 0; }
    25% {right: 74px;}
    50% {right: 149px; }
    75% {right: 224px; }
    100% {right: 298px; }
}

.el-form-item__label{
    color: #00FFFF;
}

.item_label{
    font-size: 17px;
    color: #00FFFF;
}

.params_header{
    color: #00FFFF;
    margin-top: 30px;
    margin-left: 15px;
}

/*未选中的radio*/
.el-radio__input .el-radio__inner{
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popupNormal.png);
    background-repeat: no-repeat;
}

/*选中的radio*/
.el-radio__input.is-checked .el-radio__inner{
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/btn_popupClick.png);
    background-repeat: no-repeat;
}

.el-radio__input.is-checked+.el-radio__label{
    font-weight: bold;
    color: #00FFFF;
}

.el-radio__label{
    color: #00FFFF;
}

.param_adjuster{
    width: 155px;
    height: 23px;
    margin-left: 5px;
    display: inline-block;
}

.adjuster{
    height: 23px;
    width: 17px;
    display: inline-block;
    cursor: pointer;
}

.param_input{
    /*width: 35px;*/
    width: 52.5px;
    /*height: 18px;*/
    height: 27px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #00FFFF;
    line-height: 15px;
    background-image: url(../img/params/bg_popupNumber.png);
    background-size: contain;
}

.param1_input{
  /*width: 35px;*/
  width: 180px;
  /*height: 18px;*/
  height: 27px;
  padding: 0;
  background-color: rgba(255,255,255,0.0);
  border: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #00FFFF;
  line-height: 15px;
  background-image: url(../img/params/bg_popupNumberLarge.png);
  background-size: contain;

}

.keywords_input{
    width: 280px;
    height: 35px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid #4d4d4e;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    color: #00FFFF;
    line-height: 10px;
}

/*减号*/
.icon-minus{
    /*width: 10px;*/
    width: 15px;
    /*height: 2px;*/
    height: 3px;
    line-height: 23px;
    display: inline-flex;
    margin-bottom: 3px;
    background-image: url(../img/params/btn_-.png);
}

/*加号*/
.icon-plus{
    width: 15px;
    height: 15px;
    line-height: 23px;
    display: inline-flex;
    margin-bottom: -2px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url(../img/params/btn_+.png);
    background-size: contain;
}

.confirm_button{
    width: 152px;
    height: 37px;
    background-image: url("../img/params/bg_confirmClick.png");
    text-align: center;
    display: inline-block;
}

.params_confirm{
    width: 100%;
    height: 37px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 7%;
}

.confirm_label{
    font-size: 15px;
    color: #00FFFF;
    line-height: 40px;
    font-weight: bold;
}

.progress-div{
    width: 75%;
    background-color: rgba(132, 144, 143, 0);
    /*overflow: hidden;*/
    background-image: url("../img/params/bg_popupProcess.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    display: inline-flex;
    margin-top: 16px;
    position: relative;
}

#process-pause{
    height: 15px;
    width: 15px;
    margin-top: 4px;
    margin-left: 5px;
}

.el-slider__runway {
    width: 190px;
    height: 10px;
    margin-top: 6px;
    margin-left: 5px;
    background-color: #e4e7ed00;
    /*border-radius: 3px;*/
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    background-image: url("../img/params/grid.png");
}

.el-slider__bar {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    height: 10px;
    background-color: rgba(255, 180, 88, 0.6);
    width: 10%;
}

.el-slider__button-wrapper .el-tooltip, .el-slider__button-wrapper::after {
    display: inline-block;
    vertical-align: middle;
}

.el-slider__button {
    width: 0px;
    height: 17px;
    border: 2px solid rgba(255, 180, 88, 0);
    background-color: rgba(255, 180, 88, 0);
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-user-select: none;
    user-select: none;
}

