.params{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 298px;
    height: 357px;
    bottom:5%;
}

#params{
    background-color: rgba(255,255,255,0.0);
    /*z-index: 9999;*/
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 298px;
    height: 400px;
}

#STD_params{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 298px;
    height: 300px;
    bottom:10%;
}

.left_gap{
    margin-left:2.5%;
    width: 8px;
    height: 5px;
    display: inline-block;
}

.paramsSwitch{
    cursor: pointer;
    position: absolute;
    right: 298px;
    bottom: 23%;
    z-index: 9999;
}

.paramsIn{
    animation: ani_paramsIn 0.3s forwards;
}

.paramsOut{
    animation: ani_paramsOut 0.3s forwards;
}

.paramSwitchIn{
    animation: ani_paramSwitchIn 0.3s forwards;
}

.paramSwitchOut{
    animation: ani_paramSwitchOut 0.3s forwards;
}

@keyframes ani_paramsIn {
    0% { right: 0;}
    25% {right: -74px}
    50% { right: -149px; }
    75% { right: -224px; }
    100% { right: -298px; }
}

@keyframes ani_paramsOut {
    0% { right: -298px; }
    25% {right: -224px}
    50% { right: -149px; }
    75% { right: -74px; }
    100% { right: 0; }
}

@keyframes ani_paramSwitchIn {
    0% { right: 298px; }
    25% {right: 224px;}
    50% { right: 149px; }
    75% { right: 74px; }
    100% { right: 0; }
}

@keyframes ani_paramSwitchOut {
    0% {right: 0; }
    25% {right: 74px;}
    50% {right: 149px; }
    75% {right: 224px; }
    100% {right: 298px; }
}
.item_label{
    font-family: CJNgaiHKS-Bold;
    margin-left:7.5%;
    font-size:18.5px;
    color: #00FFFF;
}
.item_labelSTD{
    font-family: CJNgaiHKS-Bold;
    margin-left:7.5%;
    font-size:18.5px;
    color: #00FFFF;
}
.keywords{
    font-family: CJNgaiHKS-Bold;
    font-size:16px;
    color: #00FFFF;
    margin-left:7.5%;
}
.item_label1{
    font-family: CJNgaiHKS-Bold;
    margin-left:1%;
    font-size:16px;
    color: #00FFFF;
}

.item_labelpart{
    font-family: CJNgaiHKS-Bold;
    margin-left:10%;
    font-size:16px;
    color: #00FFFF;
}

.item_labelpart2{
    font-family: CJNgaiHKS-Bold;
    margin-left:16%;
    font-size:16px;
    color: #00FFFF;
}
.item_labelmaxD{
    font-family: CJNgaiHKS-Bold;
    font-size:16px;
    color: #00FFFF;
}

.params_header_container {
    display: flex;
    align-items: center;
}
.params_header{
    font-family: CJNgaiHKS-Bold;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    white-space: nowrap;
    line-height: 36px;
    color: #00FFFF;
    margin-top: 35px;
    margin-left: 23px;
}
.params_headerside{
    width: 49px;
    height: 10px;
    background-size: 50px 7px;
    margin-top: 6%;
    left:10px;
}
/*未选中的radio*/
.el-radio__input .el-radio__inner{
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popupNormal.png);
    background-repeat: no-repeat;
}

/*选中的radio*/
.el-radio__input.is-checked .el-radio__inner{
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/btn_popupClick.png);
    background-repeat: no-repeat;
}

.el-radio__input.is-checked+.el-radio__label{
    font-weight: bold;
    color: #00FFFF;
}

.el-radio__label{
    color: #00FFFF;
}

.param_adjuster{
    width: 130px;
    height: 23px;
    display: inline-block;
    margin-left:3%;
}

.param_adjustmaxD{
    width: 130px;
    height: 23px;
    display: inline-block;
}

.param_adjusterlong{
    width: 180px;
    height: 23px;
    display: inline-block;
    margin-left:1%;
}

.adjuster{
    height: 23px;
    width: 10px;
    display: inline-block;
    cursor: pointer;
}

.param_input{
    font-family: DIN Next LT Pro, ui-serif;
    /*width: 35px;*/
    width: 45px;
    /*height: 18px;*/
    height: 25px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 0;
    text-align: center;
    font-size: 15px;
    /*font-weight: bold;*/
    color: #00FFFF;
    line-height: 22px;
    background-image: url(../img/params/bg_popupNumber.png);
    background-size: contain;
}

.param1_input{
  /*width: 35px;*/
  width: 180px;
  /*height: 18px;*/
  height: 27px;
  padding: 0;
  background-color: rgba(255,255,255,0.0);
  border: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #00FFFF;
  line-height: 15px;
  background-image: url(../img/params/bg_popupNumberLarge.png);
  background-size: contain;

}

.param2_input{
  width: 70px;
  /*height: 18px;*/
  height: 27px;
  padding: 0;
  background-color: rgba(255,255,255,0.0);
  border: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #00FFFF;
  line-height: 15px;
  background-image: url(../img/params/bg_popupNumberMiddle.png);
  background-size: contain;
}

.keywords_input{
    width: 180px;
    height: 40px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid #4d4d4e;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    color: #00FFFF;
    line-height: 10px;
    margin-left:4%;
}

/*减号*/
.icon-minus{
    width: 10px;
    height: 2px;
    line-height: 23px;
    display: inline-flex;
    margin-bottom: 3px;
    background-image: url(../img/params/btn_-.png);

}

/*加号*/
.icon-plus{
    width: 10px;
    height: 10px;
    line-height: 23px;
    display: inline-flex;
    margin-bottom: 3px;
    margin-left:20%;
    background-image: url(../img/params/btn_+.png);
}

.confirm_button{
    width: 152px;
    height: 37px;
    background-image: url("../img/params/bg_confirmClick.png");
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-left:25%;
}

.params_confirm{
    width: 100%;
    height: 37px;
    cursor: pointer;
}

.confirm_label{
    font-size: 15px;
    color: #00FFFF;
    line-height: 40px;
    font-weight: bold;

}

.progress-div{
    width: 75%;
    background-color: rgba(132, 144, 143, 0);
    /*overflow: hidden;*/
    background-image: url("../img/params/bg_popupProcess.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    display: inline-flex;
    margin-top: 16px;
    position: relative;
}

.process-pause{
    height: 15px;
    width: 15px;
    margin-top: 4px;
    margin-left: 10%;
}

.el-slider__runway {
    width: 190px;
    height: 10px;
    margin-top: 6px;
    margin-left: 5px;
    background-color: #e4e7ed00;
    /*border-radius: 3px;*/
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    background-image: url("../img/params/grid.png");
}

.el-slider__bar {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    height: 10px;
    background-color: rgba(255, 180, 88, 0.6);
    width: 10%;
}

.el-slider__button-wrapper .el-tooltip, .el-slider__button-wrapper::after {
    display: inline-block;
    vertical-align: middle;
}

.el-slider__button {
    width: 0px;
    height: 17px;
    border: 2px solid rgba(255, 180, 88, 0);
    background-color: rgba(255, 180, 88, 0);
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-user-select: none;
    user-select: none;
}

.inline-input{
    color:#f0f0f0;
    width:175px;
    margin-left:17.5px;
}

.inputContainer{
    display: flex;
    width:100%;
    align-items:center;

}