@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ExtraBold.ttf') format('truetype'); /* 替换字体文件路径 */
}
@font-face{
    font-family:'DinCondensed';
    src:url('D-DINCondensed.ttf') format('truetype');
}
#params{
    background-color: rgba(255,255,255,0.0);
    /*z-index: 9999;*/
    position: absolute;
    right: 0;
    bottom: 2%;
    width: 302px;
    height: 500px;
}
.dcpgsparams{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 302px;
    height: 370px;
    bottom:5%;
    font-family: Montserrat, Montserrat;
}
.spparams{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 302px;
    height: 370px;
    bottom:4.5%;
    font-family: Montserrat, Montserrat;
}
.kstcparams{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 302px;
    height: 500px;
    bottom:4%;
    font-family: Montserrat, Montserrat;
}
.stdparams{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 302px;
    height: 440px;
    bottom:4%;
    font-family: Montserrat, Montserrat;
}
.RPAparams{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 302px;
    height:345px;
    bottom:4%;
    font-family: Montserrat, Montserrat;
}
.KDVparams{
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 302px;
    height:345px;
    bottom:4%;
    font-family: Montserrat, Montserrat;
}

.left_gap{
    margin-left:2.5%;
    width: 8px;
    height: 5px;
    display: inline-block;
}

#paramSwitch{
    cursor: pointer;
    position: absolute;
    margin-right: 0;
    bottom: 15%;
    z-index: 9999;
}

.paramsIn{
    animation: ani_paramsIn 0.3s forwards;
}

.paramsOut{
    animation: ani_paramsOut 0.3s forwards;
}

.paramSwitchIn{
    animation: ani_paramSwitchIn 0.3s forwards;
}

.paramSwitchOut{
    animation: ani_paramSwitchOut 0.3s forwards;
}

@keyframes ani_paramsIn {
    0% { right: 0;}
    25% {right: -74px}
    50% { right: -149px; }
    75% { right: -224px; }
    100% { right: -298px; }
}

@keyframes ani_paramsOut {
    0% { right: -298px; }
    25% {right: -224px}
    50% { right: -149px; }
    75% { right: -74px; }
    100% { right: 0; }
}

@keyframes ani_paramSwitchIn {
    0% { right: 298px; }
    25% {right: 224px;}
    50% { right: 149px; }
    75% { right: 74px; }
    100% { right: 0; }
}

@keyframes ani_paramSwitchOut {
    0% {right: 0; }
    25% {right: 74px;}
    50% {right: 149px; }
    75% {right: 224px; }
    100% {right: 298px; }
}
.item_label{
    margin-left:7.5%;
    font-size:14px;
    color: #00FFFF;
}

.item_label1{
    margin-left:16.5%;
    font-size:14px;
    color: #00FFFF;
}
.item_labelword{
    margin-left:8%;
    font-size:14px;
    color: #00FFFF;
}
.item_labelk{
    margin-left:21.5%;
    font-size:14px;
    color: #00FFFF;
}
.item_labelpart{
    margin-left:10%;
    font-size:18px;
    color: #00FFFF;
}
.item_labelpartk{
    margin-left:10%;
    font-size:14px;
    color: #00FFFF;
}
.item_labelpart2{
    margin-left:16%;
    font-size:16px;
    color: #00FFFF;
}
.item_labelmaxD{
    font-size:14px;
    color: #00FFFF;
}
.item_labelSTC{
    margin-left:10%;
    font-size:14px;
    color: #00FFFF;
}

.keywords{
    font-size:14px;
    color: #00FFFF;
    margin-left:7%;
}
.item_labelSTD{
    margin-left:14.5%;
    font-size:14px;
    color: #00FFFF;
}
.item_labelSTDlon{
    margin-left:13%;
    font-size:14px;
    color: #00FFFF;
}
.params_header_container {
    display: flex;
    align-items: center;
}
.params_header{
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    line-height: 36px;
    color: #00FFFF;
    margin-top: 35px;
    margin-left: 23px;
}
.params_headerside{
    width: 49px;
    height: 10px;
    background-size: 50px 7px;
    margin-top: 6%;
    left:10px;
}
/*未选中的radio*/
.el-radio__input .el-radio__inner{
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popupNormal.png);
    background-repeat: no-repeat;
}

/*选中的radio*/
.el-radio__input.is-checked .el-radio__inner{
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/btn_popupClick.png);
    background-repeat: no-repeat;
}

.el-radio__input.is-checked+.el-radio__label{
    font-weight: bold;
    color: #00FFFF;
}

.el-radio__label{
    color: #00FFFF;
}

.param_adjuster{
    width: 130px;
    height: 23px;
    display: inline-block;
    margin-left:3%;
}
.param_adjustmaxD{
    width: 130px;
    height: 23px;
    display: inline-block;
}
.param_adjusterlong{
    width: 180px;
    height: 23px;
    display: inline-block;
    margin-left:1%;
}
.param_adjustSTD{
    width:200px;
    height: 23px;
    display: inline-block;
    margin-left:1.8%;
}
.adjuster{
    height: 23px;
    width: 10px;
    display: inline-block;
    cursor: pointer;
}

.param_input{
    font-family:DinCondensed;
    /*width: 35px;*/
    width: 45px;
    /*height: 18px;*/
    height: 25px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 0;
    text-align: center;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #00FFFF;
    line-height: 22px;
    background-image: url(../img/params/bg_popupNumber.png);
    background-size: contain;
}
.kstclon_input{
    font-family: DinCondensed;
    /*width: 35px;*/
    width: 55px;
    /*height: 18px;*/
    height: 25px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 0;
    text-align: center;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #00FFFF;
    line-height: 22px;
    background-image: url(../img/params/bg_popupNumber.png);
    background-size: contain;
    margin-left:4%;
}
.kstclat_input{
     font-family: DinCondensed;
    /*width: 35px;*/
    width: 55px;
    /*height: 18px;*/
    height: 25px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 0;
    text-align: center;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #00FFFF;
    line-height: 22px;
    background-image: url(../img/params/bg_popupNumber.png);
    background-size: contain;
    margin-left:5%;
}
.kstcparam_input input{
    font-family: Montserrat, Montserrat;
    /*width: 35px;*/
    width: 180px;
    /*height: 18px;*/
    height: 27px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #00FFFF;
    line-height: 15px;
    background-image: url(../img/params/bg_popupNumberLarge.png);
    background-size: contain;
    margin-left:5%;
}
.stdparam_input{
    font-family: Montserrat, Montserrat;
    /*width: 35px;*/
    width: 200px;
    /*height: 18px;*/
    height: 27px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #00FFFF;
    line-height: 15px;
    background-image: url(../img/params/bg_popupNumberLarge.png);
    background-size: contain;
    margin-left:5%;
}
.param1_input{
  font-family: Montserrat, Montserrat;
  /*width: 35px;*/
  width: 180px;
  /*height: 18px;*/
  height: 22px;
  padding: 0;
  background-color: rgba(255,255,255,0.0);
  border: 0;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #00FFFF;
  line-height: 15px;
  background-image: url(../img/params/bg_popupNumberLarge.png);
  background-size: contain;

}

.param2_input{
  font-family: DinCondensed;
  width: 70px;
  /*height: 18px;*/
  height: 22px;
  padding: 0;
  background-color: rgba(255,255,255,0.0);
  border: 0;
  text-align: center;
  font-size: 14px;
  color: #00FFFF;
  line-height: 15px;
  background-image: url(../img/params/bg_popupNumberMiddle.png);
  background-size: contain;
}

.keywords_input {
    width: 180px;
    height: 40px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid #4d4d4e;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    color: #00FFFF;
    line-height: 10px;
    margin-left:4%;
}

/*减号*/
.icon-minus{
    width: 10px;
    height: 2px;
    line-height: 23px;
    display: inline-flex;
    margin-bottom: 3.5px;
    background-image: url(../img/params/btn_-.png);
}

/*加号*/
.icon-plus{
    width: 10px;
    height: 10px;
    line-height: 23px;
    display: inline-flex;
    margin-left:20%;
    background-image: url(../img/params/btn_+.png);
}

.confirm_button{
    width: 152px;
    height: 37px;
    background-image: url("../img/params/bg_confirmClick.png");
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-bottom:12%;
    margin-left:25%;
}

.params_confirm{
    width: 100%;
    height: 37px;
    cursor: pointer;
}

.confirm_label{
    font-size: 14px;
    color: #00FFFF;
    line-height: 40px;
    font-weight: bold;
}

.progress-div{
    width: 77.5%;
    background-color: rgba(132, 144, 143, 0);
    /*overflow: hidden;*/
    background-image: url("../img/params/bg_popupProcess.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    display: inline-flex;
    margin-top: 16px;
    position: relative;
}

.process-pause{
    height: 15px;
    width: 15px;
    margin-top: 4px;
    margin-left: 10%;
}

.el-slider__runway {
    width: 190px;
    height: 10px;
    margin-top: 6px;
    margin-left: 5px;
    background-color: #e4e7ed00;
    /*border-radius: 3px;*/
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    background-image: url("../img/params/grid.png");
}

.el-slider__bar {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    height: 10px;
    background-color: rgba(255, 180, 88, 0.6);
    width: 10%;
}

.el-slider__button-wrapper .el-tooltip, .el-slider__button-wrapper::after {
    display: inline-block;
    vertical-align: middle;
}

.el-slider__button {
    width: 0px;
    height: 17px;
    border: 2px solid rgba(255, 180, 88, 0);
    background-color: rgba(255, 180, 88, 0);
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-user-select: none;
    user-select: none;
}

.kstc-param-adjuster {
    /*width: 100%;
    display: inline-flex;
    gap: 12px;
    margin-left:0%;
    margin-bottom: 3%;*/
    display: flex;
    width:100%;
    align-items:center;
}

.inputContainer{
    display: flex;
    width:100%;
    align-items:center;
}

.params_bottom{
    display:flex;
    flex-direction:row;
    margin-top:6%;
}
.bottom1{
    width:3px;
    height:3px;
    background:#05DFA4;
    margin-left:1%;
}
.bottom_line{
    width: 298px;
    height: 2px;
    border: 1px solid;
    border-image: linear-gradient(66deg, rgba(7, 98, 60, 0), rgba(30, 87, 72, 1), rgba(19, 110, 102, 1), rgba(15, 110, 103, 0)) 1 1;
}